{% extends 'guest.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="container">
  <div class="border border-1 border-info container-fluid w-50 p-2">
    <h4><strong>Contact Information</strong></h4>
  </div>
  <div class="border border-1 border-info container-fluid w-50 p-2" id="contact-name">
    <span id="name-title"><strong>Contact Name:</strong></span>
    <span id="name">Ricky Bobby</span>
  </div>
  <div class="border border-1 border-info container-fluid w-50 p-2" id="contact-emai">
    <span id="email-title"><strong>Email Address:</strong></span>
    <span id="email">bspb74@gmail.com</span>
  </div>
</div>
{% endblock %}