{% extends "base.html" %}
{% block title %}Skunk Piss Brewing{% endblock %}
{% block content %}
<div class="container">
    <span>
        <h1>Welcome to Skunk Piss Brewing!</h1>
    </span>
    <div class="container-fluid">
        <span>You've come to the right place when looking for personalized laser etching.</span>
        <span>Here you will find various products to include:</span>
        <div class="container pt-3">
            <ul class-="list-group list-group-numbered">
                <li class="list-group-item"><strong>*</strong> Corn Hole Boards</li>
                <li class="list-group-item"><strong>*</strong> Corn Hole Score Cards</li>
                <li class="list-group-item"><strong>*</strong> Tumblers</li>
                <li class="list-group-item"><strong>*</strong> Signs</li>
                <li class="list-group-item"><strong>*</strong> Games</li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}